
client_secret*.json
token.json
credentials.json
*.pickle
.env
.env.*

output/
E:/PomodojoFrames/


assets/audios/*.mp3
assets/audio/*.mp3


venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

.vscode/
*.code-workspace


Thumbs.db
desktop.ini
.DS_Store
.AppleDouble

*.log
*.tmp
*.temp
